body{
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
    content: '';
    margin-top: 49px;
    height: 100vh;
    width: 100%;
    background-image: url(images/dbms1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: -1;

}

.content {
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 35%;
    margin-top: 105px;
    margin-left: -145px;
    width: 800px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    color: black;
}

.content .logo {
    height: 280px;
    width: 280px;
}

.content .title {
    font-size: 3.5rem;
    margin-top: -2rem;
}

.content .text {
    font-size: 20px;
    line-height: 2.0;
    margin-top: 0.6rem;
}


.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;

}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.center {
    text-align: center;
    margin: auto;
}


.bg-light {
    background: #f4f4f4;
    color: #333;
}


/*navbar*/

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.a1 {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    text-decoration: none;
}


button a {
    color: #111;
}

button {
    background-color: dimgray;
    border: none; 
}
.navright{
    float: right;
    margin-right: 2%;
}


#hid1{
    border-width: 2px;
    border-color: red;
}

a{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    transition: all;
}
.pad0{
    padding: 0px;
    
}

.link:hover{
    transform: scale(1.2);
}
.pad1{
    padding : 25px;
}
.pad{
    padding-top: 25px;
}

