body{
    background: #000;
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fpage{
    width: 100%;
    margin-top: 36px;
    background-color:rgb(74, 81, 85);
    margin-bottom: 2%;
    margin-right: 5%;
    padding: 2%;
    padding-left: 3%;  
}
.myform {
    position: relative;
    margin-left: 1%;
    margin-top: 1%;
    max-width: 25%;
    padding-left: 17px;
}
.center{
    text-align: center;
    margin: auto;
}
#btn{
    margin-left: 8%;
    margin-top: 2%;
    background-color:#fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
}
#btn:hover{
    background-color: rgb(219, 45, 45);
    transform:scale(1.1);
}
#btn1{    
    margin-top: 2%;
    background-color:#fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
}
#btn1:hover{
    background-color: rgb(219, 45, 45);
    transform:scale(1.1);
}
#p1{
    margin-left: 3%;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 280px;
}
.card{
    height: 300px;
}





.navbar {
    background-color: rgba(0, 0, 0,0.2);
    z-index: 2;
    margin-left: -16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color:  white;
}

.active {
    background-color: #4CAF50;
    /*text-decoration: none;*/
}
li a:hover{
    text-decoration: none;
    color:white;
}



/* bmi calculator  */



.form2{
    margin-left: 0px;
}

#weight{
    position: relative;
    left : -2px;
}

/* grids*/

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.navright{
    float: right;
}


.bg-light {
    background: #f4f4f4;
    color: #333;
    padding: 20px;
}
.bminfo{
    padding: 20px;
}
p{
    color: #111;
}

.color{
    color:rgb(216, 43, 43);
}

input{
    padding: 5px;
    border-radius: 20px;
    border: 2px solid purple;
}